/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}
i {
    color: gray;
}
body {
    background-color: #EBEBEB;
}
div.bounnd {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.img-circle {
    border-radius: 50%;
}
/* Set gray background color and 100% height */
.sidenav {
    /* padding-top: 20px;

    background-color: #f1f1f1; */
    height: 100%;
}
.sidenav div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.custom-red {
    color: #DD5555;
}

.shadow {
    text-shadow: 1px 1px #ff0000;
}

div.icon {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
div.icon > div {
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 2%;
}

.title {
    /* background-color: white; */
    padding-left: 4px;
    padding-right: 4px;
    color: #CCCCCC;
    font-size: small;
    display: block;
    box-sizing: border-box;
    /* border: white solid 3px; */
    border-radius: 10px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}